*{padding: 0;margin: 0;}

.wer{
  font-family:"Poppins",sans-serif;
  font-weight: 500;
}



.wer{
  color: white;
  /* position: absolute; */
  font-size: 60px;
  font-style: initial ;
  /* right: 43%;
  top:20% */
  

}
.wth{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    ;
  font-size: 150%;
  top: 5%;
  left: 4%;
  height: 0%;
  bottom: 0%;
}
.imgMain{
  position: ab;
  display: none;
  margin-left: auto;
  border-top-right-radius: auto;
  top: 10%;
}
.img{
 display: block;
 top:-5%;
 height: 140%;
 position: absolute;
 top:-5%;
 animation: imageupanddown 2s linear infinite;
 /* animation-delay: 5s; */
 z-index: 5;
}



.color{
  background-color:#27a3a3;
  height: 50vh;
}
.edit{
  position:absolute;
  width:15%;
  right:2%;
  top:5%;
  height: 30%;
}
.qwe{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  height: 100px;
  width: 100px;
  left:10%;

   
}
.team{
  position: absolute;
  left: 2%;
  height: 220px;
  top: 80%;
  width: 520px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: bold;;
  box-shadow: -1px 5px 5px 3px rgba(66, 66, 66, 0.199);
  padding: 40px;
  

}
.reliable-box{
  position: absolute;
  width: 520px ;
  height: 220px;
  left: 2%;
  top: 125%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-style: bold; */
  font-size: 20px;
  box-shadow: -1px 5px 5px 3px rgba(66, 66, 66, 0.199);
  padding:40px 40px 70px 40px;
  
}
.third{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  left: 64%;
  height: 220px;
  font-size: 20px;
  top: 79%;
  width: 520px;
  box-shadow: -1px 5px 5px 3px rgba(66, 66, 66, 0.199);
  padding: 40px ;
  
  
  animation: imagerightandleft .5s linear backwards;
}


.fourth{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  left: 64%;
  width: 520px;
  height: 270px;
  top: 125%;
  box-shadow: -1px 5px 5px 3px rgba(66, 66, 66, 0.199);
  animation: imagerightandleft .5s linear backwards;
  padding: 30px 40px;
}
.phone{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;

position: relative;}

@keyframes imagerightandleft{
  0%{
      left: 50%;
  }
  100%{
      left: 64%;
  }
}

@keyframes imageupanddown {
  0%,100%{
      top: -5%;
  }
  50%{
      top:0%;
  }
}


.para{
  position:relative;
  bottom: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 60%;
  right: 30%;
  height: 30%;
  left: 2%;
  font-size: 22px;
  color: #474748;

}

.box{
 position:absolute;
  left: 80%;
  top: -16%;
  background-color:#27a3a3;
  color:#27a3a3;
  background: rgb(39, 163, 163);
  width: 280px; 
  height: 10px;
  box-sizing: border-box;
  display:block;
 
}
.miss{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  font-size: 100%;
  bottom: -140%;
  gap: 10%;
  right: 55%;
  box-shadow: -5px 5px 5px 3px rgba(163, 163, 163, 0.199);
}

.vis{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;   
  bottom: -140%;
  left: 55%;
  padding: 15px;
  box-shadow: -5px 5px 5px 5px rgba(163, 163, 163, 0.199);
}

.app{
  position: absolute;
  height: 45px;
  left: 83%;
  top:36%
}

.store{
  position: absolute;
  height: 45px;
  left: 90.5%;
  top:36%
}

.box{ position: absolute;
  height:100%;
 
  
}

.work{
 position: absolute;
  top: 250%;
  color: #27a3a3;
  right: 45%;
  font-size: 40px;
  font-style: normal;

}
h1{
  margin: 0;
}
.thebg{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #a7a5a5; 
  height: 2%;
  width: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

  padding:28px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thebg h1{
  font-size: 28px;
  color: rgb(255, 255, 255);
  bottom: 40%;
}
.E{
  position: absolute;
  
  top: 25%;
  right: 80%;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #5a5e649a;
  color: white;
  width: 7%;
  height: 15%;
  text-align: center;
}

.T{
  position: absolute;
  
  top: 250%;
  right: 70%;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #5a5e649a;
  color: white;
  width: 7%;
  height: 15%;
  text-align: center;
}

.H{
  position: absolute;
  
  top: 250%;
  right: 60%;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #5a5e649a;
  color: white;
  width: 7%;
  height: 15%;
  text-align: center;
}

.I{
  position: absolute;
  
  top: 250%;
  right: 50%;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #5a5e649a;
  color: white;
  width: 7%;
  height: 15%;
  text-align: center;
}

.C{
  position: absolute;
  
  top: 250%;
  right: 40%;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #5a5e649a;
  color: white;
  width: 7%;
  height: 15%;
  text-align: center;
}

.S{
  position: absolute;
  
  top: 250%;
  right: 30%;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #5a5e649a;
  color: white;
  width: 7%;
  height: 15%;
  text-align:center;
}

.effi{
  position: absolute;
 bottom:-200%;
 right: 80%;
 color: #27a3a3;
 font-size: 30px;
}  

.tohelp{
  position: absolute;
  bottom:-210%;
  right:30%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3f3f3f;
  font-size: 20px;
}
#threeicon{

  margin-top:-20px;
}
#team-icon{

  margin-top:-40px;
}

#fourthicon{
  margin-top: 10px;

  


}
.cards{
  font-size: 20px;
  width: 100% ;
  height: 200px;
  /* left: 2%;
  top: 125%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-style: bold; */
  box-shadow: -1px 5px 5px 3px rgba(66, 66, 66, 0.199);
  /* padding: -20px; */
  
   

}